{% extends 'base.html' %}
{% load 'static' %}

{% block title %}
  {% if validlink %}
    Vaihda salasana käyttäjälle {{ form.user.username }}
  {% else %}
    Vaihda salasana
  {% endif %}
{% endblock %}
<link rel="stylesheet" href ="{% static 'css/application.css' %}">

{% block content %}
  
        <div class="blockbody">
          {% if validlink %}
            <h3>Vaihda salasana käyttäjälle @{{ form.user.username }}</h3>
            <form method="post" novalidate>
             {% csrf_token %}
             {% for hidden in form.hidden_fields %}
				{{ hidden }}
				{% endfor %}

			{% for field in form.visible_fields %}
			<div class = "form-div">
		
			<label for="{{ field.id_for_label }}">{{ field.label}}</label>
			{{ field|add_class:"field"}}
			{% for error in field.errors %}
			{{ error }}
			{% endfor %}
			</div>
			{% endfor %}
              <button type="submit" class="inputbtn">Vaihda salasana</button>
            </form>
          {% else %}
            <h3>Reset your password</h3>
            <div class="text">
              <p>Näyttää siltä että linkki ei jostain syystä toimi. Kokeile alla olevaa linkkiä.</p>
            </div>
            <a href="{% url 'password_reset' %}">Pyydä uutta linkkiä</a>
          {% endif %}
        </div>
   
{% endblock %}