{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}Vaihda salasana{% endblock %}
<link rel="stylesheet" href ="{% static 'css/application.css' %}">

{% block content %}
  <div class="blockbody">
    
      
        
          <h3>Vaihda salasana</h3>
          <p>Anna käyttäjätunnusta vastaava sähköpostiosoite</p>
          <form method="post" novalidate>
            {% csrf_token %}
			{% for hidden in form.hidden_fields %}
			{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
			<div class = "form-div">
		
			<label for="{{ field.id_for_label }}">{{ field.label}}</label>
			{{ field|add_class:"field"}}
			{% for error in field.errors %}
			{{ error }}
    {% endfor %}
  </div>
{% endfor %}
            <br />
            <button type="submit" class="inputbtn">Muuta salasana</button>
          </form>
       
  </div>
{% endblock %}