.text {
	
	display: block;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 1px 1px;
	margin:auto;
	text-align: left;
	padding: 15px;
	position: relative;
	width: 33%;
}

.inputbtn {
	
	padding:13px 50px;
	background-color: #eee;
	color: grey;
	border-style: solid;
	border-radius: 5px;
	box-shadow: 1px 1px;
	font-size: 20px;
	
}

.inputbtn:hover {
	
	background-color: grey;
	color: white;

}

.form-div {
	display:block;
	width: 50%;
	margin: auto;
	
	
	
}

.field {
	display:block;
	width: 50%;
	margin: auto;
	border-style: none;
	border-radius: 5px;
	font-size: 23px;
	box-shadow: 1px 1px;


}

.blockbody {
	
	z-index: -100;
	text-align: center;
	font-size: 20px;
	clear: left;
	padding: 35px;
	border: 5px;
	

}

.helptext {
	display: block;
	margin:auto;
	font-size: 16px;
	color: grey;
	position: relative;
	width: 33%;


}

.ntlist {
	list-style:none;
	background-color: #eee;
	display:inline;
	text-decoration:none;

}



