{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Vankien Vanhemmat{% endblock %}</title>
	
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
	<link rel="stylesheet" href="{% static 'css/application.css' %}">
	<link rel="stylesheet" href="{% static 'css/boards.css' %}">
	
    {% block stylesheet %}{% endblock %}  
  </head>
  <body>
    {% block body %}
	
	<div>
	
	<p class = "title"> Vankien Vanhemmat ry </p>
	
	{% if user.is_authenticated %}
	
	<div class = "dropdown-div">
	<button onclick = "dropDown()"  class = "dropbutton">{{ user.username }}</button>
		<div id = "myDropdown" class ="dropdown-menu">
			<a href = "{% url 'logout' %}">Kirjaudu ulos</a>
			<a href = "{% url 'password_change' %}">Vaihda salasana</a>
		</div>
		</div>
	{% else %}
	<div class ="logindiv">
	<a href = "{% url 'login' %}" class = "loginbutton">Kirjaudu</a>
	</div>
	{% endif %}
	</div>
	
	
	
	<div class="sidenav">
	
		<a href="{% url 'index' %}">Uutiset</a>
		<a href="{% url 'application' %}">Liity jäseneksi</a>
		<a href="{% url 'backgrounds' %}">Rikollisuuden taustoja</a>
		<a href="{% url 'vankeus' %}">Vankeus</a>
		{% if user.is_authenticated %}
		<a href="{% url 'boards' %}">Keskustelu</a>
		{% else %}
		<a href ="{% url 'login' %}">Keskustelu</a>
		{% endif %}
		<div class="dropdown">
				<a class="dropbtn">Yhdistys</a> 
	
				<div class="dropdown-content">
					<a href="{% url 'rules' %}">Säännöt</a>
					<a href="{% url 'historia' %}">Historia</a>
					<a href="{% url 'contact' %}">Yhteystiedot</a>
			</div>
			</div> 
	
	</div>
	<div>
	{% block header %}
	{% endblock %}
	
	 <div>
    {% block content %}
    {% endblock %}
	</div>
{% endblock body %}
	<script src="{% static 'js/dropdown.js'%}"></script>
    
  </body>
</html>