{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Vankien Vanhemmat{% endblock %}</title>
	
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
   
    {% block stylesheet %}{% endblock %}  
  </head>
  <body>
    {% block body %}
	<div>
	<h1 class = "title"> Vankien Vanhemmat ry </h1>
	</div>
	<div class="sidenav">
	
		<a href="{% url 'index' %}">Uutiset</a>
	
			<div class="dropdown">
				<a class="dropbtn">Yhdistys</a>
	
				<div class="dropdown-content">
					<a href="{% url 'rules' %}">Säännöt</a>
					<a href="{% url 'historia' %}">Historia</a>
					<a href="{% url 'contact' %}">Yhteystiedot</a>
			</div>
			</div> 
	
		<a href="{% url 'application' %}">Liity jäseneksi</a>
		<a href="{% url 'backgrounds' %}">Rikollisuuden taustoja</a>
		<a href="{% url 'vankeus' %}">Vankeus</a>
		<a href="#members">Jäsenille</a>
	
	</div>
	
	 

  <div class = "blockbody">
   
      {% block breadcrumb %}
      {% endblock %}
    
    {% block content %}
    {% endblock %}
  </div>
{% endblock body %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>